@model RecommendStuff.ViewModels.ItemViewModel



    <span class="bigger-font">[@ViewData["Username"]]</span>  (Following:@ViewData["Following"] | Followed By:@ViewData["FollowedBy"])
     @if(Session["Username"] !=null)
        {
            if (Session["Username"].ToString() != ViewData["Username"])
            {
                <div id="follow-div">
               
               <span style="margin-left:20px" class="bigger-font"> @Ajax.ActionLink("UnFollow", "Unfollow", new { Id = ViewData["Username"].ToString() }, new AjaxOptions() { HttpMethod = "Post", UpdateTargetId = "update-div" }, null)</span>
            </div>
            }
        }