@model RecommendStuff.ViewModels.ItemViewModel

<span style="margin-left:20px" class="bigger-font"> @Ajax.ActionLink("UnFollow", "Unfollow", new { Id = ViewData["Username"].ToString() }, new AjaxOptions() { HttpMethod = "Post", UpdateTargetId = "follow-div" }, null)</span>